<div class="p-5">
    <h3>Input Access</h3>
    <p>After release of Angular 16, now we can access route params, query params and route resolved data using "Input()" in ts file</p>
    <div class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Page</th>
                <th>Sort</th>
                <th>Resolver</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ id }}</td>
                <td>{{ page }}</td>
                <td>{{ sort }}</td>
                <td>{{ color }}</td>
            </tr>
        </tbody>
    </div>
</div>
